<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            {% include "articles/article.html" %}
        </div>
        <div class="column is-one-third">
            {% set taxonomies = page.taxonomies %}
            {% include "taxonomies/related_taxonomies.html" %}
        </div>
    </div>
</div>
