<section class="hero is-small">
    <div class="hero-body">
        <div class="container has-text-centered">
            {% include "articles/title.html" %}
            {% if page.description %}
                <p class="subtitle">
                    {{ page.description }}  
                </p>
            {% endif %}
        </div>
    </div>
</section>
