<div class="level mt-0">
    <span class="icon-text level-left">
        {% if page.authors %}
            <span class="icon is-small level-item">
                <i class="fa-solid fa-circle-user is-size-7"></i>
            </span>
            <span class="is-size-7 level-item">{{ page.authors | join(sep=", ") }}</span>
        {% endif %}
        <span class="icon is-small level-item">
            <i class="fa-solid fa-calendar-day is-size-7"></i>
        </span>
        <span class="is-size-7 level-item">{{ page.date }}</span>
    </span>
    <span class="icon-text level-right">
        <span class="icon is-small level-item">
            <i class="fa-solid fa-text-width is-size-7"></i>
        </span>
        <span class="is-size-7 level-item">{{ page.word_count }}</span>
        <span class="icon is-small level-item">
            <i class="fa-solid fa-clock is-size-7"></i>
        </span>
        <span class="is-size-7 level-item">{{ page.reading_time }} min</span>
    </span>
</div>