<section class="hero is-primary is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ page.title|default(value=config.title) }}</h1>
            {% if config.description %}
                <p class="subtitle">{{ page.description|default(value=config.description) }}</p>
            {% endif %}
        </div>
    </div>
</section>
