{% for definition in config.taxonomies %}
    {% set taxonomy = get_taxonomy(kind=definition.name) %}
    {% if taxonomy.kind.render %}
        {% set section = get_section(path=taxonomy.kind.name ~ "/_index.md", metadata_only=true) %}
        <section class="section has-text-centered">
            <h2 class="title">
                {% if section and section.extra.icon is defined %}
                    <i class="{{ section.extra.icon }}"></i>
                {% endif %}
                {{ section.title|default(value=taxonomy.kind.name|capitalize) }}
            </h2>
            {% if section and section.description is defined %}
                <p class="block">{{ section.description }}</p>
            {% endif %}

            <div class="columns">
                {% for term in taxonomy.items %}
                    {% set page = get_page(path=taxonomy.kind.name ~ "/" ~ term.slug ~ "/index.md") %}
                    <article class="column">
                        <h3 class="subtitle">
                            <a href="{{ term.permalink }}">
                                {% if page and page.extra.icon is defined %}
                                    <i class="{{ page.extra.icon }}"></i>
                                {% endif %}
                                {{ page.title|default(value=term.name) }}
                            </a>
                        </h3>
                        {% if page and page.description is defined %}
                            <p>
                                {{ page.description }}
                            </p>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>
        </section>
    {% endif %}
{% endfor %}
