<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block meta %}
            {% if config.description %}<meta name="description" content="{{ config.description }}" />{% endif %}
            <link rel="alternate" type="application/atom+xml" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" />
        {% endblock %}

        {% block libs %}{% endblock %}

        <link rel="stylesheet" href="{{ get_url(path="fonts/roboto/index.css") }}" />
        <link rel="stylesheet" href="{{ get_url(path="fonts/font-awesome/css/all.css") }}" />
        <link rel="stylesheet" href="{{ get_url(path="conscientious.css") }}" />

        <title>
            {% set title_mode = config.extra.conscientious.site_title_mode|default(value="after") %}
            {% set title_separator = config.extra.conscientious.site_title_separator|default(value="·") %}
            {% block title %}{{ config.title }}{% endblock %}
        </title>
    </head>

    <body>
        <header>
            <nav class="navbar has-background-dark is-transparent">
                <div class="navbar-brand">
                    <a href="{{ get_url(path="@/_index.md") }}" class="navbar-item has-text-primary-light">{{ config.title }}</a>
                </div>

                <div class="navbar-menu">
                    <div class="navbar-start">
                        {% for definition in config.taxonomies %}
                            {% set taxonomy = get_taxonomy(kind=definition.name) %}
                            {% if taxonomy.kind.render %}
                                {% set section = get_section(path=taxonomy.kind.name ~ "/_index.md", metadata_only=true) %}
                                {% if taxonomy.items %}
                                    <div class="navbar-item has-dropdown is-hoverable">
                                        <a href="#" class="navbar-item has-text-light">{{ section.title|default(value=taxonomy.kind.name|capitalize) }}</a>
                                        <div class="navbar-dropdown has-background-light">
                                            {% for term in taxonomy.items %}
                                                {% set page = get_page(path=taxonomy.kind.name ~ "/" ~ term.slug ~ "/index.md") %}
                                                <a href="{{ term.permalink }}" class="navbar-item has-text-dark">{{ page.title|default(value=term.name) }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% else %}
                                    <a href="#" class="navbar-item">{{ section.title|default(value=taxonomy.kind.name|capitalize) }}</a>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer class="footer has-background-light has-text-dark">
            <div class="columns section">
                {% for column in config.extra.conscientious.footer_columns %}
                    <section class="column">
                        <h2 class="heading">{{ column.heading }}</h2>
                        {% if column.text %}
                            <p class="content block">
                                {{ column.text|safe }}
                            </p>
                        {% endif %}
                        {% for note in column.notes|default(value=[]) %}
                            <div class="icon-text">
                                <span class="icon has-text-info"><i class="{{ note.icon }}"></i></span>
                                <span>{{ note.caption }}</span>
                            </div>
                        {% endfor %}
                        {% for link in column.links|default(value=[]) %}
                            <div class="icon-text">
                                <a href="{{ link.href }}" {% if link.rel is defined %}rel="{{ link.rel }}"{% endif %}>
                                    <span class="icon has-text-info"><i class="{{ link.icon }}"></i></span>
                                    <span>{{ link.caption }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </footer>
    </body>
</html>
