{% extends "base.html" %}

{% block meta %}
    {% if page.description %}
        <meta name="description" content="{{ page.description }}" />
    {% elif config.description %}
        <meta name="description" content="{{ config.description }}" />
    {% endif %}
{% endblock %}

{% block title %}
    {% if title_mode == "before" %}
        {{ config.title }} {{ title_separator }} {{ page.title }}
    {% elif title_mode == "after" %}
        {{ page.title }} {{ title_separator }} {{ config.title }}
    {% else %}
        {{ page.title }}
    {% endif %}
{% endblock %}

{% block main %}    
    {% include "pages/heading.html" %}
    <div class="my-4">
        {% if page.date %}
            {% include "pages/article.html" %}
        {% endif %}
    </div>
{% endblock %}