<section class="hero is-medium {% if section.extra.color %}is-{{ section.extra.color }}{% endif %}">
    <div class="hero-body">
        <div class="container has-text-centered">
            {% include "taxonomies/title.html" %}
            {% if term_page and term_page.description is defined %}
                <p class="subtitle">
                    {{ term_page.description }}
                </p>
            {% endif %}
        </div>
    </div>
</section>
