{% if term_page.taxonomies %}
    <section class="panel">
        <h1 class="panel-heading">Related articles</h1>
        {% for page in term.pages %}
            {% if page.date and not page.draft %}
                <div class="panel-block">
                    <article class="block">
                        <h2 class="title is-size-5 mb-0"><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
                        {% include "articles/tagline.html" %}
                        <div class="content">
                            {% if page.description %}
                                {% set content = page.description %}
                            {% elif page.summary %}
                                {% set content = page.summary %}
                            {% else %}
                                {% set content = page.content %}
                            {% endif %}
                            {{ content | safe }}
                        </div>
                    </article>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
