{% if taxonomies %}
    <aside class="panel">
        <h1 class="panel-heading">Related categories</h1>
        {% for name, terms in taxonomies %}
            {% set taxonomy = get_taxonomy(kind=name) %}
            {% if taxonomy.kind.render %}
                {% set section = get_section(path=name ~ "/_index.md", metadata_only=true) %}
                <div class="panel-block">
                    <div class="block">
                        <h2 class="heading">{{ section.title|default(value=name|capitalize) }}</h2>
                        <div class="block tags are-medium">
                            {% for term_name in terms %}
                                {% set term  = get_taxonomy_term(kind=name, term=term_name) %}
                                {% set page = get_page(path=name ~ "/" ~ term.slug ~ "/index.md") %}
                                {% set section = get_section(path=name ~ "/_index.md") %}
                                <a href="{{ term.permalink }}">
                                    <span class="tag {% if section.extra.color %}is-{{ section.extra.color }}{% endif %}">{{ page.title|default(value=term.name) }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </aside>
{% endif %}
