<h1 class="title">
    {% if term_page and term_page.extra.icon is defined %}
        <i class="{{ term_page.extra.icon }}"></i>
    {% endif %}
    {{ term_page.title|default(value=term.name) }}
</h1>
