<div class="container">
    <div class="columns">
        <div class="column is-two-thirds">
            <article class="block content">
                {{ term_page.content | safe }}
            </article>
        </div>
        <div class="column is-one-third">
            {% include "taxonomies/related_articles.html" %}
            {% set taxonomies = term_page.taxonomies %}
            {% include "taxonomies/related_taxonomies.html" %}
        </div>
    </div>
</div>
